<b> <%= @word %> </b>
<br/>
<i><%= @pron %> </i><b><%= @cndef %> </b> 

<%if @thesaurus.present? %>
  <% @thesaurus.each do | noun, list_list |%> 
    <div>
      <%= noun + ":"%>
      <%  list_list.each_with_index do |list,index| %>
        <div>
          <%= "    #{index}. #{list.join(' -> ')}"%>
        </div>
      <% end%> 
    </div>
  <% end%> 
  <br>

  <% @thesaurus.each do | noun, list_list |%> 
    <div>
      <%= noun + ":"%>
      <%  list_list.each_with_index do |list,index| %>
        <div>
          <%= "    #{index}. #{list.map{|w| "<b>#{w}</b><i>(#{cn_word(w)})</i>"}.join(' -> ')}"%>
        </div>
      <% end%> 
    </div>
  <% end%> 
<% end%> 

